<mat-drawer-container>
  <mat-drawer #filterDrawer mode="side" position="end" class="w-80 p-6 bg-gray-50" [opened]="false">
    <h2 class="text-xl font-bold mb-4">Filtros</h2>

    <form (ngSubmit)="applyFilters()" class="space-y-6">

      <!-- Range de Data -->
      <div class="space-y-2">
        <label class="block text-sm font-medium text-gray-700">Data de:</label>
        <input type="date" [(ngModel)]="filters.startDate" name="startDate" class="input" />
        <label class="block text-sm font-medium text-gray-700">Data até:</label>
        <input type="date" [(ngModel)]="filters.endDate" name="endDate" class="input" />
      </div>

      <!-- Ordem Alfabética -->
      <div class="space-y-2">
        <label class="block text-sm font-medium text-gray-700">Ordem Alfabética:</label>
        <select [(ngModel)]="filters.sortOrder" name="sortOrder" class="input">
          <option value="">Nenhum</option>
          <option value="asc">A-Z</option>
          <option value="desc">Z-A</option>
        </select>
      </div>

      <!-- Alterado por -->
      <div class="space-y-2">
        <label class="block text-sm font-medium text-gray-700">Alterado por:</label>
        <input type="text" [(ngModel)]="filters.modifiedBy" name="modifiedBy" placeholder="Nome do usuário"
          class="input" />
      </div>

      <div class="flex justify-between pt-4">
        <button type="submit" class="btn-primary">Aplicar</button>
        <button type="button" class="btn-secondary" (click)="resetFilters()">Limpar</button>
      </div>
    </form>

  </mat-drawer>

  <div class="max-w-7xl mx-auto p-6 space-y-6">
    <div class="flex items-center space-x-4">
      <button mat-fab extended matTooltip="Inserir novo produto" (click)="onAddProduct()"
        class="flex items-center shadow gap-1">
        <mat-icon>
          <lucide-icon [img]="addIcon" class="w-6 h-6 text-blue-600"></lucide-icon>
        </mat-icon>
        <span class="text-gray-700">
          Novo Produto
        </span>
      </button>

      <button mat-fab extended matTooltip="Importar produtos" class="flex items-center gap-1">
        <mat-icon>
          <lucide-icon [img]="importIcon" class="w-6 h-6 text-blue-600"></lucide-icon>
        </mat-icon>
        <span class="text-gray-700">
          Importar Produtos
        </span>
      </button>

      <div class="flex-grow"></div>

      @if (paginatedItems.data && paginatedItems.data.length > 0) {
      <button mat-icon-button matTooltip="Filtrar produtos" (click)="toggleFilters()">
        <mat-icon>filter_list</mat-icon>
      </button>
      }
    </div>

    @if (paginatedItems.data && paginatedItems.data.length === 0) { <div
      class="flex flex-col items-center rounded-md justify-center h-64 bg-white shadow">
      <lucide-icon [img]="packageIcon" class="w-16 h-16 text-gray-400"></lucide-icon>
      <p class="mt-4 text-gray-500 text-lg">Estoque vazio</p>
    </div>
    }

    @if (paginatedItems.data && paginatedItems.data.length > 0) {
    <div class="overflow-x-auto bg-white shadow rounded-lg">
      <table mat-table [dataSource]="paginatedItems.data" class="w-full">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="text-left p-4 font-semibold">
            Nome
          </th>
          <td mat-cell *matCellDef="let product" class="p-4">
            {{ product.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef class="text-left p-4 font-semibold">
            Preço
          </th>
          <td mat-cell *matCellDef="let product" class="p-4">
            {{ product.price | currency: 'R$' : 'symbol' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="text-center p-4 font-semibold">
            Ações
          </th>
          <td mat-cell *matCellDef="let product" class="p-4 text-center">
            <button mat-icon-button color="primary" (click)="onEditProduct(product)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="onDeleteProduct(product)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" matHeaderRowDefSticky="true" class="bg-gray-100"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="hover:bg-gray-50"></tr>

      </table>
    </div>

    <mat-paginator class="shadow rounded-md" [length]="totalItems" [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageChange($event)">
    </mat-paginator>
    }
  </div>
</mat-drawer-container>