$container-height: calc(100vh - 64px);

mat-sidenav-container {
  height: $container-height;

  mat-sidenav {
    #sidenav-content {
      height: $container-height;

      #expand-panel-button {
        position: relative;
        top: 60%;
        cursor: pointer;
      }
    }
  }
}
