<mat-dialog-content class="p-6"> 
  <div class="relative w-full mx-auto">
    <div class="text-2xl font-bold text-gray-800 font-[Lora]">
      {{ productDetails.name }}
      <p class="text-sm text-gray-500 font-[Lora]">Informações detalhadas do produto</p>
      <p class="text-sm text-gray-500 font-[Lora]">{{ productDetails.barcode }}</p>
    </div>
    <div class="absolute top-0 right-0">
      <button mat-icon-button (click)="dialogRef.close(productDetails)"
        class="hover:bg-gray-200 pl-2 rounded-full transition duration-200">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="absolute top-1 right-16">
      <div class="badge bg-blue-600 text-white px-3 py-1 rounded-full text-xs">{{ productDetails.category.name }}</div>
    </div>
  </div>

  <hr class="mb-4">

  <div class="mx-auto w-full flex flex-row justify-between gap-4 py-4">
    <mat-card class="shadow-lg w-48 h-48">
      @if (productDetails.product_image) {
        <img [src]="productDetails.product_image" class="w-full h-full object-cover rounded-lg" />
      } @else {
        <lucide-icon [img]="packageIcon" class="w-full h-full object-cover text-gray-400"></lucide-icon>
      }
    </mat-card>

    <div class="flex flex-col gap-2 text-sm text-gray-700 w-full">
      <mat-card class="p-4">
        <p class="text-sm text-gray-800 font-semibold font-[Lora]">
          Informações gerais
        </p>
        <hr class="mb-4">

        <p class="text-sm text-gray-500 flex flex-row justify-between font-[Lora]">
          <span>
            Preço Unitário:
          </span>
          <span>
            {{ productDetails.unit_price | currency:'R$' : 'symbol' }}
          </span>
        </p>
        <p class="text-sm text-gray-500 flex flex-row justify-between font-[Lora]">
          <span>
            Preço de Venda:
          </span>
          <span>
            <span class="font-bold text-[#3377bc]">{{ productDetails.sale_price | currency: 'R$' : 'symbol' }}</span>
          </span>
        </p>
        <p class="text-sm text-gray-500 flex flex-row justify-between font-[Lora]">
          <span>
            Em Estoque:
          </span>
          <span>
            {{ productDetails.quantity }}
          </span>
        </p>
      </mat-card>

      <mat-card class="p-4">
        <p class="text-sm text-gray-800 font-semibold font-[Lora]">
          Status do Produto
        </p>
        <hr class="mb-4">

        <p class="text-sm text-gray-500 flex flex-row justify-between font-[Lora]">
          <span>
            Situação:
          </span>
          <span [class.bg-green-500]="productDetails.active" [class.bg-red-500]="!productDetails.active" class="badge text-white px-3 py-1 rounded-full text-xs">
            {{ productDetails.active ? 'Ativo' : 'Inativo' }}
          </span>
        </p>
        <!-- <p class="text-sm text-gray-500 flex flex-row justify-between font-[Lora]">
          <span>
            Situação No Estoque:
          </span>
          <span [class.bg-yellow-500]="productDetails.low_stock" [class.bg-green-500]="!productDetails.low_stock" class="badge text-white px-3 py-1 rounded-full text-xs">
            {{ productDetails.low_stock? 'Baixo Estoque' : 'Em Estoque' }}
          </span>
        </p> -->
      </mat-card>
    </div>
  </div>

  <div class="mx-auto flex flex-col gap-4 w-full py-4">
    @if (productDetails.description) {
      <mat-card class="p-4">
        <p class="text-sm text-gray-800 font-semibold font-[Lora]">
          Descrição do Produto
        </p>
        <hr class="mb-4">
  
        <p class="text-sm text-gray-500 font-[Lora]">{{ productDetails.description }}</p>
      </mat-card>
    }

    <mat-card class="p-4">
      <p class="text-sm text-gray-800 font-semibold font-[Lora]">
        Histórico
      </p>
      <hr class="mb-4">

      <div class="flex flex-row items-center justify-between p-4">
        <div class="flex flex-row items-center gap-2">
          <lucide-icon [img]="calendarIcon" class="w-6 h-6 text-gray-500"></lucide-icon>
  
          <div class="flex flex-col">
            <span class="text-xs text-gray-500 font-[Lora]">Criado em:</span>
            <span class="text-md text-gray-800 font-medium">
              {{ productDetails.created_at | date:'dd/MM/yyyy' }}
            </span>
          </div>
        </div>
  
        @if (productDetails.updated_at != productDetails.created_at && productDetails.updated_at) {
          <div class="flex flex-row items-center gap-2">
            <lucide-icon [img]="calendarIcon" class="w-6 h-6 text-gray-500"></lucide-icon>
    
            <div class="flex flex-col">
              <span class="text-xs text-gray-500 font-[Lora]">Última atualização:</span>
              <span class="text-md text-gray-800 font-medium">
                {{ productDetails.updated_at | date:'dd/MM/yyyy' }} às {{ productDetails.updated_at | date:'HH:mm' }}
              </span>
            </div>
          </div>
        }
      </div>
    </mat-card>
  </div>

  <hr class="mb-4">

  <div class="flex flex-row justify-end gap-2">
    <button
      class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-lg hover:bg-gray-50 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors"
      (click)="dialogRef.close(productDetails)">
      <lucide-icon [img]="closeIcon" class="w-4 h-4 mr-2"></lucide-icon>
      Fechar
    </button>
    <button
      class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-lg hover:bg-gray-50 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors"
      (click)="onEditProduct(product)">
      <lucide-icon [img]="editIcon" class="w-4 h-4 mr-2"></lucide-icon>
      Editar Produto
    </button>
    <button class="bg-[#3377bc] text-white inline-flex gap-2 items-center px-4 py-2 text-sm font-medium rounded-lg hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors" (click)="onViewReport(product)">
      <lucide-icon [img]="chartIcon" class="w-4 h-4"></lucide-icon>
      Ver relatório
    </button>
  </div>
</mat-dialog-content>