<h2 mat-dialog-title class="text-2xl font-bold mb-8">{{ data ? 'Editar Produto' : 'Novo Produto' }}</h2>
<mat-dialog-content>
  @if (hasDraft) {
  <div class="bg-yellow-100 text-yellow-800 p-4 rounded shadow mb-6 text-sm flex items-center gap-2">
    <span class="material-icons text-yellow-600">info</span>
    Você tem alterações salvas como rascunho.

    <span class="flex gap-2">
      <a class="text-yellow-600 underline cursor-pointer" (click)="newForm()">Começar um novo</a>
    </span>
  </div>
  }

  <form [formGroup]="form" class="space-y-6">
    <!-- Nome -->
    <mat-form-field class="w-full">
      <mat-label>Nome do Produto</mat-label>
      <input matInput formControlName="name" required #nameInput cdkFocusInitial>
      @if (form.get('name')?.invalid && form.get('name')?.touched) {
      <mat-error>
        @if (form.get('name')?.hasError('minlength')) {
        Nome deve ter pelo menos 3 caracteres
        }
        @else {
        Nome é obrigatório
        }
      </mat-error>
      }
    </mat-form-field>

    <!-- Descrição -->
    <mat-form-field class="w-full">
      <mat-label>Descrição</mat-label>
      <textarea matInput id="description" name="description" formControlName="description" rows="3"></textarea>
    </mat-form-field>

    <!-- Código de barras -->
    <mat-form-field class="w-full">
      <mat-label>Código de Barras</mat-label>
      <input matInput type="text" id="barcode" name="barcode" formControlName="barcode" min="0">
    </mat-form-field>

    <!-- Preço de venda (R$) -->
    <mat-form-field class="w-full">
      <mat-label>Preço de Venda (R$)</mat-label>
      <input matInput type="number" id="sale_price" name="sale_price" formControlName="sale_price" required min="0">
      @if (form.get('sale_price')?.invalid && form.get('sale_price')?.touched) {
      <mat-error>Preço é obrigatório</mat-error>
      }
    </mat-form-field>

    <!-- Preço unitário e Estoque (lado a lado em desktop) -->
    <div class="flex flex-col md:flex-row md:gap-6">
      <mat-form-field class="w-full">
        <mat-label>Preço Unitário (R$)</mat-label>
        <input matInput type="number" id="unit_price" name="unit_price" formControlName="unit_price" required min="0">
        @if (form.get('unit_price')?.invalid && form.get('unit_price')?.touched) {
        <mat-error>Preço é obrigatório</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Estoque</mat-label>
        <input matInput type="number" id="quantity" name="quantity" formControlName="quantity" required min="0">
        @if (form.get('quantity')?.invalid && form.get('quantity')?.touched) {
        <mat-error>Estoque é obrigatório</mat-error>
        }
      </mat-form-field>
    </div>

    <!-- Categoria -->
    <mat-form-field class="w-full">
      <mat-label>Categoria</mat-label>
      <mat-select formControlName="category_id" id="category_id" name="category_id" required>
        <mat-option value="">Selecione</mat-option>
        @for (category of categories; track category.id) {
        <mat-option [value]=category.id>{{category.name}}</mat-option>
        }
      </mat-select>
      @if (form.get('category')?.invalid && form.get('category')?.touched) {
      <mat-error>Categoria é obrigatória</mat-error>
      }
    </mat-form-field>

    <!-- Upload de Imagem -->
    <div class="w-full">
      <label
        class="inline-flex items-center justify-center gap-2 bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-md cursor-pointer text-sm">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M4 16v1a2 2 0 002 2h12a2 2 0 002-2v-1M12 12v8m0-8l-4 4m4-4l4 4m0-6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v6" />
        </svg>
        <span>Selecionar Imagem</span>
        <input type="file" (change)="onImageSelected($event)" accept="image/*" class="hidden" />
      </label>

      @if (imagePreview) {
      <div class="mt-4">
        <img [src]="imagePreview" alt="Preview" class="w-32 h-32 object-cover rounded-md shadow" />
      </div>
      }
    </div>

    <!-- Produto Ativo -->
    <mat-checkbox formControlName="active" class="mt-6">
      Produto Ativo
    </mat-checkbox>

    <mat-dialog-actions class="gap-4 pt-8">
      <!-- Botões -->
      <!-- <div class="flex justify-end gap-4 pt-8"> -->
      <button mat-stroked-button type="button" (click)="close()" class="btn-secondary">
        Cancelar e Fechar
      </button>
      <button mat-raised-button color="primary" type="submit" (click)="save()" [disabled]="form.invalid">
        Salvar e Adicionar Novo Produto
      </button>
      <button mat-raised-button color="primary" type="submit" (click)="saveAndClose()" [disabled]="form.invalid">
        {{ data ? 'Salvar Alterações' : 'Criar Produto' }}
      </button>
      <!-- </div> -->
    </mat-dialog-actions>

  </form>
</mat-dialog-content>