mat-toolbar {
  z-index: 1000;
  background-color: white;

  .user-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .mat-mdc-menu-panel {
    padding: 0 !important;
  }
}
