@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  .mdc-fab {
    background-color: white;
  }

  .mdc-text-field {
    background-color: white !important;
  }

  #login,
  #register {
    height: calc(100vh - 64px) !important;
  }
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1000;
}
